/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Inter:wght@100;300;400;500;700;800;900&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,500&display=swap');

/* SETUP */

:root {

    /* Color Styles */
    --blue-dark: #023047;
    --blue-medium: #219ebc;
    --blue-light: #8ecae6;
    --orange: #fb8500;
    --honey-yellow: #ffb703;
    --gray-light: #eef1f5;
    --white: #fff;

    /* Font Size Desktop */
    --header-1: 64px;
    --header-2: 48px;
    --header-3: 42px;
    --header-4: 32px;
    --header-5: 22px;

    --text-medium: 20px;
    --text-regular: 18px;
    --text-light: 13px;

    /* Font Weight */
    --font-weight-bold: 700;
    --font-weight-semi-bold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --font-weight-light: 300;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: var(--blue-dark);
}
.section-main-title {
    margin: 20px auto;
}
.small-section-title {
    color: var(--blue-medium);
}
.glass-bg, .btn-glass {
     /* From https://css.glass */
    background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.emoji {
    width: 200px !important;
}

/* BUTTON PRIMARY */

.btn {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    font-weight: var(--font-weight-medium);
    border: none;
    color: var(--white);
}
.btn:focus {
    box-shadow: none !important;   
}

.btn-primary {
    background-color: var(--blue-dark);
}
.btn-primary:active {
    background-color: var(--blue-light) !important;
}
/* .btn-primary:hover {
    background-color: var(--white);
    color: var(--blue-dark);
    border: 2px solid var(--blue-dark);
} */
/* BUTTON SECONDARY */

.btn-secondary {
    background-color: var(--white);
    color: var(--blue-dark);
}

.btn-secondary:focus {
    background-color: var(--gray-light);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
}
.btn-primary:hover,
.btn-secondary:hover {
    background-color: var(--gray-light) !important;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    color: var(--blue-dark);
}
.btn-glass:hover, .info-box:hover {
    background-color: var(--white);
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.05) !important;
    transition: 1s;
}


/* NAVBAR */
.navbar .btn {
    width: 120px;
    height: 35px;
    font-weight: var(--font-weight-light);
    font-size: 15px;
}
.navbar .login-btn:hover,
.navbar .login-btn:focus {
    border: 1px solid var(--blue-dark) !important;
}
.navbar-brand img {
    width: 150px;
}
a.nav-link {
    margin-right: 39px;
    font-size: var(--text-regular);
    font-weight: var(--font-weight-regular);
    color: var(--blue-dark) !important;
}
a.nav-link:hover, a.nav-link.active {
    color: var(--blue-medium) !important;
}
a.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: var(--blue-medium);
    margin: 7px auto;
    transition: 0.7s;
}
a.nav-link:hover::after, a.nav-link.active::after {
    width: 45px;
}
.nav-active {
  border-bottom: 1px solid var(--blue-medium);
}
/* HERO */
.hero {
    /* height: 85vh; */
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./images/gradient-blue-background_23-2149350177.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15%;
}
.hero .text-label {
    color: var(--blue-medium);
    background-color: var(--white);
    width: fit-content;
    padding: 5px 15px;
    border-radius: 10px;
    margin: auto;
}
.hero-btns .btn {
    width: 275px;
}
.hero-btns img {
    width: 40px; 
    margin-top: -5px;
    margin-bottom: -5px; 
    margin-right: 15px;
    background-color: var(--white);
    border-radius: 10px;
    padding: 4px 6px;
    box-shadow: 2px 2px 2px var(--primary);
}
.sign-box {
    border: 1px solid var(--gray-1);
}

.text-label,
.text-hero-bold,
.text-hero-regular {
    margin: 24px 0;
}
.text-label {
    color: var(--secondary);
    font-size: var(--text-medium);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}
.text-hero-bold {
    /* color: var(--primary); */
    font-size: var(--header-1);
    font-weight: var(--font-weight-bold);
    line-height: 74px;
}
.text-hero-regular {
    /* color: var(--primary); */
    font-size: var(--text-medium);
    font-weight: var(--font-weight-regular);
    line-height: 31px;
}
ul {
    list-style: none;
    color: var(--primary);
}

.fa-solid {
   margin-left: -35px; 
   margin-right: 10px;
   margin-top: 7px;
   color: var(--secondary-light);
}
.info-box {
    font-size: var(--text-medium);
    font-weight: var(--font-weight-light);
}
.hero-img {
    margin-top: -10%;
}
.brands-textLine {
    color: var(--primary);
}

/*  Animated Brands  */
.scroller__inner {
    display: block;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}
.scroller__inner li img {
    width: 50px;
}
.scroller[data-animated="true"] {
    overflow: hidden;
    mask: linear-gradient(
        90deg,
        transparent,
        #fff 10%,
        #fff 90%,
        transparent
    );
}
.scroller[data-animated="true"] .scroller__inner {
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(-100%);
    }
}
.scroller[data-animated="true"] .scroller__inner:hover {
  animation-play-state: paused;
}

/* test section */
.test-section {
    padding: 100px 0px;
    /* background-color: #eef1f5; */
}
.test-section-box {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    /* background-color: #E5E0FF; */
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
      inset 15px 15px 10px rgba(255, 255, 255, 0.75),
      -15px -15px 35px rgba(255, 255, 255, 0.55),
      inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}
.test-section-box img {
    width: 55px;
    border-radius: 10px;
    padding: 8px;
}
.test-section-box:nth-child(1) {
    background-color: #e6ebeb;
    border-left: 1px solid #eee;
}
.test-section-box:nth-child(1) img, 
.test-section-box:nth-child(1) .btn:hover {
    background-color: #e6ebeb !important;
    box-shadow: inset -3px -3px 9px #ffffff83, inset 3px 3px 7px rgba(94, 104, 121, 0.688) !important;
    border: none;
}
.test-section-box:nth-child(2) img,
.test-section-box:nth-child(2) .btn:hover {
    background-color: #cfe7eb !important;
    border: none;
    box-shadow: inset -3px -3px 9px #ffffff83, inset 3px 3px 7px rgba(94, 104, 121, 0.688) !important;
}
.test-section-box:nth-child(2) {
    z-index: 1;
    margin-left: -5%;
    margin-top: 10%;
    background-color: #cfe6eb;
    border-left: 1px solid #deebec;
}

/*   About Section   */
.about {
    padding: 100px 0px;
    background-color: #eef1f59e;
    border-bottom: 2px solid #eee;
}
.about-text-box {
    border-radius: 15px;
    border: 0.5px solid var(--blue-medium);
}
.about-text-box img {
    width: 65px;
    margin-top: 15px;
    box-shadow: 2px 2px 4px #219ebc;
    border-radius: 50px;
}
.about .container:nth-child(1) {
    margin-bottom: 100px;
}
.about-experience-num {
    color: var(--blue-light);
}
.signUp-form {
    background-color: var(--blue-dark);
}
.signUp-form .form {
    background-color: #cee6ea;
}
.signUp-form .form .btn-secondary {
    background-color: #e6ebeb;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15),
      inset 15px 15px 10px rgba(255, 255, 255, 0.75),
      -15px -15px 35px rgba(255, 255, 255, 0.55),
      inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}
.signUp-form .form .btn-primary {
    background-color: #cfe6eb;
    color: var(--blue-dark);
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15), inset 15px 15px 10px rgba(255, 255, 255, 0.75), -15px -15px 35px rgba(255, 255, 255, 0.55), inset -1px -1px 10px rgba(0, 0, 0, 0.2);
}
.signUp-form .form .btn-primary:hover { 
    border: none;
    box-shadow: inset -3px -3px 9px #ffffff83, inset 3px 3px 7px rgba(94, 104, 121, 0.688);
}
.signUp-form .fa-solid {
    color: var(--blue-light);
}
.about-experience-num {
    font-size: 3rem;
    margin-right: 7px;
    font-weight: 600;
}
.about-experience h2 {
    line-height: 3rem;
}
.about-experience-box {
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.3);
    width: 231px;
    height: 110px;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    margin: 5px;
}
.about-experience-box.box1,
.about-experience-box.box4 {
    border: 1px solid var(--babyBlue-light);
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;
}
.about-experience-box.box2,
.about-experience-box.box3 {
    /* background-color: #f6d06e65; */
    border: 1px solid var(--secondary-light);
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
.about-experience-box.box1 {
    background: rgb(151,226,249);
    background: linear-gradient(180deg, rgba(151,226,249,0.4976584383753502) 0%, rgba(255,255,255,1) 74%);
}
.about-experience-box.box2 {
    background: rgb(245, 205, 112);
    background: linear-gradient(180deg, #eec15065 0%, rgba(255,255,255,1) 74%);
}
.about-experience-box.box3 {
    background: rgb(245, 205, 112);
    background: linear-gradient(0deg, #eec15065 0%, rgba(255,255,255,1) 74%);
}
.about-experience-box.box4 {
    background: rgb(151,226,249);
    background: linear-gradient(0deg, rgba(151,226,249,0.4976584383753502) 0%, rgba(255,255,255,1) 74%);
}

@keyframes moveUpDown {
    0% {
        padding-bottom: 0%;
    }
    50% {
        padding-bottom: 15%;
    }
    100% {
        padding-bottom: 0%;
    }
}
/* features section */
.features {
    margin-top: 70px;
    padding-bottom: 100px;
}
.features .section-main-title span {
    color: var(--blue-medium);
}
.features .col-3 {
    width: 24%;
}
.features .fa-solid {
    font-size: 30px;
    color: var(--blue-medium);
}
.featurs-box {
    margin: 5px;
    border-radius: 20px;
    background-color: #e6ebeb;
    box-shadow: 30px 30px 30px -10px rgba(0, 0, 0, 0.15), inset 15px 15px 10px rgba(255, 255, 255, 0.75), -15px -15px 35px rgba(255, 255, 255, 0.55), inset -1px -1px 10px rgba(0, 0, 0, 0.2);
    border-left: 1px solid #eee;
}
.featurs-box:nth-child(3),
.featurs-box:nth-child(5) {
    background-color: rgb(207, 230, 235);
    border-left: 1px solid #deebec;
}
.features-tracking {
    background: linear-gradient(rgba(207, 230, 235, 0.7), rgba(207, 230, 235, 0.7)), url('./images/gradient-blue-background_23-2149350177.jpeg');
}

/*  testimonial  */
.testimonial {
    background: rgb(206 230 234);
    background: linear-gradient(0deg, rgb(206 230 234) 0%, rgba(255,255,255,1) 56%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 10%;
}
.testimonial-box {
    width: 70%;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    border: 2px solid #eee;
}
.testimoial-box-item:first-child {
    height: 60%;
    width: 75%;
    color: var(--gray-1);
    line-height: 1.9;
}
.testimoial-box-item:last-child {
    height: 40%;
    background-color: var(--blue-dark);
    color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.testimoial-box-item:last-child img {
    border-radius: 50%;
    margin-top: -8%;
    width: 110px;
    border: 4px solid #fff;
}
.testimonial-box .fa-quote-right {
    position: absolute;
    right: 2%;
    top: 2%;
    font-size: 70px;
    opacity: 0.5;
}
.star:last-child {
    scale: 0;
    animation: starAppears 10s ease-out infinite;
}
.star:nth-child(2) {
    scale: 0;
    animation: starAppears 9.8s ease-out infinite;
}
.star:nth-child(3) {
    scale: 0;
    animation: starAppears 9.6s ease-out infinite;
}
.star:nth-child(4) {
    scale: 0;
    animation: starAppears 9.4s ease-out infinite;
}
.star:nth-child(5) {
    scale: 0;
    animation: starAppears 9.2s ease-out infinite;
}
@keyframes starAppears {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

/* services */
.services {
    padding-top: 5%;
    padding-bottom: 7%;
    position: relative; 
}
.services .blue-email {
    position: absolute;
    top: 235px;
    right: 0;
    width: 350px;
}
.services .contact-img {
    position: absolute;
    left: 0;
    width: 350px;
}
.accordion-item {
    background-color: transparent;
    position: relative;
    border-left: 3px solid var(--blue-dark);
}
.accordion-flush .accordion-item:first-child {
    border-left: 3px solid var(--blue-dark);
}
.accordion-flush .accordion-item:last-child {
    border-left: 3px solid red;
}
.accordion-item:not(:first-of-type) {
    border-left: 3px solid var(--honey-yellow);
}
.accordion-body {
    background-color: #f8f8f8;
}
.accordion-flush .accordion-item .accordion-button {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.3) ;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
    backdrop-filter: blur(7px) !important;
    -webkit-backdrop-filter: blur(5px) !important;
    border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.accordion-flush .accordion-collapse {
    border: 2px solid #eee;
}
.accordion-button:not(.collapsed) {
    color: var(--white);
    background-color: var(--blue-dark) !important;
}
.services .accordion-title {
    
}

/*  Footer */
footer {
    background-color: var(--blue-dark);
    color: var(--white);
}
.footer-nav-link {
    text-decoration: none;
    color: var(--white);
}
/* .footer-btn, .hero-btn {
    width: 280px;
    height: 50px;
    border-radius: 7px;
    margin-top: 7px;
    border: none;
} */
footer .btn {
    width: 300px !important;
}
.footer-btn:first-child {
    background-color: var(--secondary-light);
}
/* scroll up btn */
.scrollUpBtn {
    font-size: 25px;
    opacity: 1;
    position: fixed;
    bottom: 20px;
    right: 20px;
    cursor: pointer !important;
    outline: none;
    background-color: transparent;
    border: 1px solid var(--honey-yellow);
    border-radius: 50%;
    text-align: center;
    padding: 5px;
}
.scrollUpBtn.hidden {
    opacity: 0;
}

/**************************************************
                    Media Query
***************************************************/
/* DESKTOP VERSION ONLY */

@media (min-width: 1400px) {

    /* .container {
        background-color: #cbf1b6;
    } */
    .about .col-lg-3 {
        width: 24% !important;
    }
    .test-section .getStarted {
        padding-left: 55px;
    }
    .test-section-box .ps-3 {
    padding-left: 2rem !important;
    }
    /* feature */
    .features-tracking button {
        margin: 10px !important;
    }
}
/************************************************/
@media (max-width: 1399.98px) {
     /* .container {
        background-color: #927de5;
    } */
    .about .col-lg-3 {
        width: 24% !important;
    }
    /* feature */
    .feature-img {
        margin-left: -10%;
        margin-right: 8%;
    }
    .features .col-3 {
    width: 45%;
    }
    .features-tracking button {
        margin: 10px !important;
    }
    /* test section */
    .test-section .getStarted {
        padding-left: 55px;
    }
    .test-section .btn-primary {
        width: 235px;
    }
    .test-section-box .ps-3 {
    padding-left: 1.7rem !important;
    }
}

/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */

@media (max-width: 992px) {
    /* .container {
        background-color: #0048ac64;
    } */
    /* NAVBAR */
    /* .container {
        background-color: #e9dcdc;
    } */

    .navbar {
        padding: 28px 0;
    }

    a.nav-link {
        margin-right: 7px 0;
    }
    .navbar-brand img {
    width: 140px;
    }
    /* hero section */
    .hero {
        padding-top: 20%;
    }
    .text-hero-bold {
        font-size: var(--header-4);
        line-height: 45px;
    }

    /* test section */
    .getStarted {
        margin-bottom: 50px;
    }
    /* about */
    .about .col-md-3 {
        width: 30%;
    }
    .about-experience h2 {
        line-height: inherit;
        margin-bottom: 20px !important;
    }
    .about-experience-num {
    font-size: inherit;
    }
    .signUp-form .form {
        margin-bottom: 40px;
    }

    /* feature */
    .feature-img {
        display: flex;
        justify-content: end;
    }

    /* testimonial */

    .star:nth-child(2) {
        top: 10% !important;
        left: -10% !important;
    }    
    .star:nth-child(3) {
        top: 18% !important;
        left: 5% !important;
    } 
    .star:nth-child(4) {
        left: -8% !important;
    } 
    .star:nth-child(5) {
        top: 48% !important;
    }

    /* Services */
    .services {
        margin-top: 70px;
    }
    .services .blue-email {
        top: 300px;
        width: 250px;
    
    }
    .services .contact-img {
        left: -20px;
        top: 0px;
        width: 250px;
    }

    /* footer */
    footer .btn {
        margin-top: 10px;
    }
    .footer-menu {
        margin-top: 10%;
    }
   
}
/*******************************************/
/* TABLET SMALL VERSION ONLY */

@media (max-width: 768px) {
    /* .container {
        background-color: rgba(237, 77, 77, 0.992);
    } */

    /* NAVBAR */

    .navbar {
        padding: 28px 0;
    }

    a.nav-link {
        margin-right: 7px 0;
    }
    a.nav-link:hover::after, a.nav-link.active::after {
        width: 0px;
    }

    /* HERO */
    .hero .btn {
        margin-top: 7px;
    }
    .hero .btn:first-child {
        margin-left: 15px;
    }
    .hero .px-5 {
    padding-right: 2rem !important;
    padding-left: 2rem !important;
    }
    /* .border-end {
    border-right: none !important;
    }  */
    .w-100 {
    width: 85% !important;
    }  

    /* brands */
    .scroller__inner li img {
    width: 50px;
    }
    /* about */
    .about .col-md-3 {
    width: 45%;
    margin-bottom: 10px;
    }
    .signUp-form .form {
    width: 90%;
    }
   
    /* feature */
    .features img {
        width: 20%;
        margin-bottom: 10px;
    }
    .features-tracking button {
        font-size: var(--text-light);
        width: 230px;
        margin: 7px !important;
    }

    /* testimonial */
    .testimonial-box {
        width: 90%;
        height: 250px;
    }
    .testimoial-box-item:first-child  {
        line-height: normal;
        font-size: 1rem !important;
        margin-top: 10px !important;
        margin-left: 16px !important;
        padding: 0;
    }
    .testimoial-box-item:last-child img {
        margin-top: -10%;
        width: 90px;
    }
    .testimoial-box-item:last-child {
        font-size: 1rem;
    }
    /* Services */
        .services .blue-email {
        top: 315px;
        right: -30px;
    }
    .services .contact-img {
        width: 200px;
    }
     /*  Footer */
    .border-start {
        border-left: none !important;
    }   
    /* footer .footer-menu {
        align-items: flex-start !important;
        margin-top: 10px;
        padding-left: 0 !important;
    } */
}

/****************************************/
/* MOBILE VERSION ONLY */

@media (max-width: 576px) {
    /* .container {
        background-color: rgba(0, 128, 0, 0.209);
    } */

    /* NAVBAR */
    .navbar-brand img {
    width: 100px !important;
    }

    a.nav-link {
        margin-right: 7px 0;
    }
    a.nav-link:hover::after, a.nav-link.active::after {
        width: 0px;
    }
    /* HERO */

    section.hero {
        text-align: center;
        margin-top: 15%;
    }

    .btn {
        display: block;
        margin: 1rem 0;
    }

    .ms-3 {
        margin-left: 0 !important;
    }

    .text-label,
    .text-hero-bold,
    .text-hero-regular {
        text-align: center;
    }

    /* hero section */
    .hero-btns .btn:first-child, 
    .hero-btns .btn:last-child {
        margin-left: 20%;
    }
    .brands-textLine {
        width: 55%;
        margin: auto;
        margin-top: 20px;
    }
    /* test */
    .test-section .btn-primary {
        width: 180px;
        margin-left: 10px;
        height: 40px;
        font-size: 12px;
    }
    .test-section-box .ps-3 {
        padding-left: 1.5rem !important;
    }
    .test-section-box-title {
        font-size: 15px;
    }

    /* about */
    .about {
        padding-top: 60px;
        padding-bottom: 25px;
        margin-top: 0px;
    }
    .w-100 {
        width: 100% !important;
    }
    .section-main-title {
    font-size: var(--header-5);
    }
    .about h2:last-child {
    margin-left: 0;
    }
    .lead {
        font-size: 1rem !important;
    }
    .about p {
        margin-left: 7%;
    }
    .about h3 {
        margin-left: 4%;
        margin-bottom: 1rem !important;
    }
    .about-experience-box {
        padding: 0px;
        margin: 2px;
        font-size: 13px;
}

    /* testimonial */
    .testimoial-box-item:first-child  {
        font-size: 0.9rem !important;
        line-height: normal;
        margin: 10px !important;
        padding: 10px !important;
    }
    .testimoial-box-item:last-child img {
        margin-top: -15%;
        width: 80px;
    }
    .testimoial-box-item:last-child {
    height: 32%;
    }
    .star {
        visibility: hidden;
    }
    /* Services */
    .services {
        margin-top: 30;
    }
    .services .blue-email {
        top: 275px;
        width: 200px;
    }
    .services .contact-img {
        top: 3px;
        width: 150px;
    }
    /* features */
    .features {
        margin-top: 30px;
        padding-bottom: 30px;
        font-size: var(--text-light);
    }
    .features h4 {
        font-size: 15px;
        margin-right: 10%
    }
    .features .col-3 {
        width: 80%;
                width: 80%;
        padding: 5px 20px 15px 30px !important;
    }
    .feature-img {
        justify-content: center;
        margin-left: 17%;
        margin-right: 0%;
        height: 400px;
    }
    .features .fa-solid {
        font-size: 25px;
        margin-top: 15px;
    }
    .features-tracking button {
        width: 230px;
        height: 45px;
    }
   
    /* footer */
    footer {
        text-align: center;
    }
    footer .btn {
        margin-left: 11%;
    }
}



